<h1><%="#{@sport.name}"%></h1>

<h2><%=image_tag @sport.image_url, :class => "sport_logo"%></h2>

<%= link_to "Kicks by #{@sport.name}!", sport_sneakers_path(@sport) %>


<% if @is_admin %>
  <%= link_to "Edit", edit_admin_sport_path(@sport) %>
  <%= link_to "Delete", admin_sport_path(@sport), method: :delete %>
<% end %>
