<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <h3> Choose your Kicks </h3>
  <% @sneakers.each do |sneaker| -%>
    <div>
      <%= check_box_tag(:sneaker_ids, sneaker.id, false, :name => 'user[sneaker_ids][]', id: "sneaker-#{sneaker.id}") %>
      <%= sneaker.name %> - <%= sneaker.price %>
    </div>
  <% end %>

  <%= f.submit "Create Account" %>
<% end %>
