<h1> Welcome to Diet Foot Locker! </h1>

<ul class="displays">
  <li class="display_list">
    <%= image_tag "diet_foot_locker.png" %>
  </li>

    <%= link_to "View all Sneakers", sneakers_path %>
    <%= link_to "View all Brands", brands_path %>
    <%= link_to "View all Sports", sports_path %>

  <li class="home_login">
    <%= link_to "Login", login_path %>
  </li>
    <div> OR </div>
  <li class="home_login">
    <%= link_to "Create New Account", new_user_path %>
  </li>
</ul>
