<h1> List of Brands </h1>

<% @brands.each do |brand| %>
  <ul class="displays">
    <li class="display_list">
      <%= image_tag brand.image_url, :class => "brand_logo" %>
      <%= link_to brand.name, brand %>
      <% if @is_admin %>
        <%= link_to "Edit", edit_admin_brand_path(brand) %>
        <%= link_to "Delete", admin_brand_path(brand), method: :delete %>
      <% end %>
    </li>
  </ul>
<% end %>

  <% if @is_admin %>
    <%= link_to "Create New Brand", new_admin_brand_path %>
  <% end %>
