<!DOCTYPE html>
<%= stylesheet_link_tag "/assets/stylesheet.css" %>
<html>
  <head>
    <title>DietFootLocker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <img <%= image_tag "diet_foot_locker.png" %> />
      <a href='/' class="logo-text"> Diet Foot Locker</a>
      <ul class ="nav-links">
          <a href = "/login">Sign In</a>
          <a href = "/sneakers">Sneakers</a>
          <a href = "regions.html">Regions</a>
          <a href = "account.html">Account</a>
      </ul>
    </nav>

    <%= flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end  %>

    <% if current_user %>
      Welcome, <%= current_user.username %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
